@use '../abstracts';

.textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  letter-spacing: 1px;
  color: abstracts.$text-color;
  background-color: abstracts.$dark;
  border: 1px solid abstracts.$bright-separator;
  outline: none;
  resize: vertical;

  &:focus {
    box-shadow: 0 0 5px abstracts.$bright-blue;
  }
}